attrdict==2.0.0
certifi==2018.1.18
chardet==3.0.4
cliff==2.11.0
cliffdemo==0.1
cmd2==0.8.0
idna==2.6
pbr==3.1.1
prettytable==0.7.2
prompt-toolkit==1.0.15
pyparsing==2.2.0
pyperclip==1.6.0
PyYAML==3.12
requests==2.18.4
six==1.11.0
stevedore==1.28.0
urllib3==1.22
wcwidth==0.1.7
